.price
{
    
    padding-left: 250px;
     
}
.Contact{
     margin-top:6rem;
        margin-left: 2rem;
}
    .productMargin{
        margin-left: 4rem;
    }
    .Detail
    {
        margin-left: 4rem;
        margin-top:6rem;
    }
  .pi{
      margin-left: 25px;
  }
    .pr{
      margin-top:5rem;
  }
    #he{
        text-align: center;
    }
     #hea{
        text-align: center;
    }
    #vid{
        margin-left: 12rem;
    }